<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PatchworkLauncher.Properties.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PatchworkLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PatchworkLauncher.Properties.PathSettings>
      <setting name="AppInfo" serializeAs="String">
        <value>.\AppInfo.dll</value>
      </setting>
      <setting name="Client" serializeAs="String">
        <value />
      </setting>
      <setting name="History" serializeAs="String">
        <value>.\history.pw.xml</value>
      </setting>
      <setting name="Logs" serializeAs="String">
        <value>.\Logs</value>
      </setting>
      <setting name="Mods" serializeAs="String">
        <value>.\Mods</value>
      </setting>
      <setting name="Preferences" serializeAs="String">
        <value>.\preferences.pw.xml</value>
      </setting>
      <setting name="Readme" serializeAs="String">
        <value>.\readme.txt</value>
      </setting>
      <setting name="Settings" serializeAs="String">
        <value>.\settings.pw.xml</value>
      </setting>
    </PatchworkLauncher.Properties.PathSettings>
    <PatchworkLauncher.Properties.Settings>
      <setting name="Arguments" serializeAs="String">
        <value />
      </setting>
      <setting name="LogExtension" serializeAs="String">
        <value>.log</value>
      </setting>
    </PatchworkLauncher.Properties.Settings>
  </userSettings>
</configuration>
